{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Shokir - Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of John Elder."/>
<meta charset="UTF-8"> 


<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{% static 'css/home.css' %}">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/men.jpg' %}" alt="John Elder" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Shokir Begbotov</h1>
			<h2 class="quickFade delayThree">python developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>begbotovshake@gmail.com</a></li>
				<li><a href="http://www.johnelder.com">shokir.com</a></li>
				<li>(90) 152-47-07</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>Begbotov Shokir Fayzulla o'g'li 1998-yil Sirdaryo viloyati 
					Sayxunobod tumanida tu'g'ilgan. Hozirda 23 yoshda. </p>
				</div>
			</article>
			
			<div class="clear"></div>
		</section>
		<br/>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python</li>
					<li>Django</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>Bootstrap</li>
					<li>Sqlite</li>
					<li>Telegram Bot</li>
					
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		<br/>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Toshkent Axborot Texnologiyalari Universiteti</h2>
					<p class="subDetails">kompyuter injiniringi fakulteti</p>
						<p>Hozirda Muhammad al Xorazmiy Nomidagi TATU 4-kurs talabasi.
						Guliston 1-sonli akademik litseyini tamomlagan.
						</p>
						
					<br/><Br/>
				</article>
				
				
			</div>
			<div class="clear"></div>
		</section>
		<br/>
	</div>
</div>

</body>
</html>